#navegacion {
  text-align: center !important;
  height: min-content;
}

#navegacion canvas {
  height: min-content;
}

#equipcarac {
  float: left;
}

header {
  background-color: #6aade4;
  padding-right: 20px;
  padding-left: 20px;
}

header .logo {
  float: left;
  margin: 10px 0;
}

header nav {
  margin: 16px 0 17px;
}

header ul {
  list-style: none;
  display: block;
}

header ul li {
  float: right;
}

header ul li a {
  font-size: 18px;
  color: #fff !important;
  line-height: 24px;
  padding: 15px 18px;
  display: block;
}

header ul li a .avatar {
  display: inline-block;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
}

header ul li a:hover {
  background-color: #b5b5b5;
}

header ul li .user-info {
  padding: 9px 18px 8px;
}

#informacion {
  background-color: black;
  height: 44px;
  text-align: right;
  padding: 8px 0px;
  margin-right: -15px;
}

#informacion li {
  color: #fff;
  padding: 0 50px;
  display: -webkit-inline-box;
}

#informacion li .progress {
  width: 150px;
  margin: 5px;
}

#informacion li .progress .ataque {
  background-color: red;
}

#informacion li .progress .defensa {
  background-color: green;
}

#informacion li .progress .vida {
  background-color: pink;
}

.box {
  border: 0.5px solid #c0ccdc;
  height: min-content;
}

.box .box-body {
  padding: 15px;
}

.box .box-header {
  background-color: #6aade4;
  padding: 10px 15px;
}

.box .box-header h2 {
  color: #fff;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 32px;
}

.left-part section {
  margin: 20px 0px 20px 20px;
}

.center-part section {
  margin: 20px 0;
}

.right-part section {
  margin: 20px 20px 20px 0px;
}

#mapa .box-body {
  display: block;
  text-align: center;
}

#mapa .box-body label {
  text-align: left;
  width: 100%;
}

#consola .box-body {
  background-color: black;
  color: white;
  height: 200px;
}

#controles .box-body {
  text-align: center;
}

#equipo .box-body .row {
  text-align: center;
}

#equipo .box-body .row p {
  text-align: left;
}

#equipo .mochila {
  display: table;
}

#equipo .mochila img {
  width: 70px;
}
